@font-face {
    font-family: "Tungsten";
    src: url("../../assets/font/Tungsten-Bold.ttf");
}

@font-face {
    font-family: "Valorant";
    src: url("../../assets/font/Valorant.ttf");
}

:root{
    --black: #000000;
    --white: #FFFBF5;
    --red1: #FD4556;
    --red2: #BD3944;
    --red3: #7c172b;
    --darkblue: #0c1220;
    --gray1: #2e3238;
    --gray2: #5c5c5c;
    --gray3: #6e6e6e;

    --header-font-size: clamp(2vw, 5vh, 5vw);
    --header-height: calc(var(--header-font-size) * 1.5);
}

body{
    font-family: "Tungsten", sans-serif;
    background: var(--black);
    color: var(--white);
    font-size: 3rem;
    text-align: center;
    letter-spacing: .07em;
    margin: 0;
    height: 100vh;
    user-select: none;
    font-size: 1em;
}

h1{
    font-family: "Valorant", sans-serif;
}

button{
    outline: 0;
    border-radius: .2em;
    border: 0;
    font-size: 1em;
    padding: .2em;
    cursor: pointer;
    font-family: inherit;
}

a{
    text-decoration: none;
}

a, button{
    color: var(--white);
    background: var(--red1);
    letter-spacing: .05em;

    &:hover{
        filter: brightness(.9);
    }
}

input{
    font-size: 1em;
    border: 0;
    outline: 0;
    width: 100%;

    &::placeholder{
        color: inherit;
        opacity: .7;
    }
}

#content{
    overflow: auto;
    text-align: center;
    height: calc(100vh - var(--header-height));
    top: var(--header-height);
    position: relative;
    padding: .5em;
    font-size: 1.5em;
}