#lineups-filter{
    background: var(--gray1);
    width: 80%;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: .5em;
    padding: .2em .5em;
    margin: .5em;
    font-size: 1.5rem;

    & > *{
        height: 100%;
        border-radius: .2em;
        margin: 0.2em;
    }

    & > *:not(.slider-select){
        background: var(--gray2);
        padding: .3em;
    }
}

#lineups-filter-search{
    display: inline-flex;
}

#lineups-filter-search-input{
    border-radius: .2em;
    margin-left: .3em;
    background: inherit;
    height: 100%;
    color: inherit;
    letter-spacing: .02em;
}