.agent-select{
    font-size: .85em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--gray3);
    padding: .2em;
    border-radius: .2em;

    > img {
        height: 1em;
    }
}